
body {
	
	margin: 0 auto;	
	padding: O;

}

.container {
	width: 90%;
	margin: 0 auto; 
}

header {
	font-family: helvetica;
	height: 70px;
	width: 100%;
	display: block;
	background-color: #fe7e00;
	color: white;

}

header::after {
	 content: "";
	 display: table;
	 clear: both;
}

header h1 img {
	float: left;
	width: 32px;
	height: 32px;
	color: white;
	margin: 0 auto;
}

header h1 {
	font-weight: lighter;
	margin: 0 auto;
	float: left;
	padding-top: 13px;
	letter-spacing: 7px;
	font-size: 24px;
}

header h1 span {
	font-weight: 500;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding-right: 63px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 50px;
	padding-top: 25px;
	font-size: 14px;

}

nav li a {
	text-decoration: none;
	color: black;
}

.middle {
	width: auto;
	display: inline-block;
	text-align: center;

}

section img {
	width: 30%;
	height: 30%;
	float: left;
	
	padding-left: 84px;
	padding-top: 91px;
}

section input {
	background-color: lightgray;
	text-transform: uppercase;
	background-image: url("img/searchicon.png");
	width: 15%;
	height: 40px;
	float: right;
	border-style: none;
	margin-right: 57px;
}

section {
	background-color: white;
}

section h1 {
	
	font-weight: 100;
	font-size: 40px;
	font-family: helvetica;
	color: #fe7e00;
	letter-spacing: 2.05px;
	margin-top: 110px;
	margin-left: 135px;
	text-align: left;
	line-height: 44px;
}

section h1 span {
	color: #fe7e00;
	font-weight: bold;
}

section h1 .teal {
	color: #7accc8;
}

section .buttons {
	position: relative;
	display: inline-flex;
	float: left;


}


.buttons #buttonleft button {
	color: white;
	background-color: #fe7e00;
	border-style: none;
	margin-top: 27px;
	margin-left: 137px;
	font-size: 15px;
	padding: 15px 55px;
}

.buttons #buttonright button {
	color: white;
	background-color: #7accc8;
	padding: 15px 55px;
	border-style: none;
	margin-left: 137px;
	margin-top: 27px;
	font-size: 15px;
}

section footer {
	width: 100%;
	margin-top: 181px;
	background-color: #7accc8;
	position: relative;
	height: 80px;
	

}

@media screen and (min-width:985px){
	section img {
		width: 26%;
		height: auto;
		padding-left: 84px;
		position: absolute;
	}

	section h1 {
		font-size: 35px;
		margin-top: 66px;
		margin-left: 385px;
	}

	.buttons #buttonleft button {
		margin-top: 27px;
		margin-left: 385px;
	}


	.buttons #buttonright button {
		margin-left: 65px;
	}

}

@media screen and (min-width:980px) {
	section img {
		width: 26%;
		height: auto;
		padding-left: 84px;
		position: absolute;
		padding-top: 145px;
	}

	section h1 {
		font-size: 35px;
		margin-top: 90px;
		margin-left: 385px;
	}

	.buttons #buttonleft button {
		margin-top: 27px;
		margin-left: 385px;
	}


	.buttons #buttonright button {
		margin-left: 68px;
		margin-top: 27px;
	}

	}

	@media screen and (min-width:768px) {
		header h1 img {
			width: 20px;
			height: 20px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 22px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 61px;
			margin-top: -17px;
		}

		nav li {
			margin-left: 50px;
			font-size: 12px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 110px;
		}

		section h1 {
			font-size: 25px;
			margin-top: 50px;
			margin-left: 327px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 10px 40px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 10px 40px;
			font-size: 10px;
		}

	}

	@media screen and (min-width:758px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 50px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 22px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 10px 40px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 10px 40px;
			font-size: 10px;
		}
	}

	@media screen and (min-width:757px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 50px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 22px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 10px 40px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 10px 40px;
			font-size: 10px;
		}

	}

		@media screen and (min-width:756px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 50px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 22px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 10px 40px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 10px 40px;
			font-size: 10px;
		}

	}

	@media screen and (min-width:730px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 45px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 22px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 10px 40px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 10px 40px;
			font-size: 10px;
		}

	}

	@media screen and (min-width:703px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 40px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 22px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 10px 40px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 10px 40px;
			font-size: 10px;
		}

	}

		@media screen and (min-width:670px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 30px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 15px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 5px 20px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 5px 20px;
			font-size: 10px;
		}

	}


		@media screen and (min-width:625px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 25px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 15px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 5px 20px;
			font-size: 10px;
		}


		.buttons #buttonright button {
			margin-left: 68px;
			margin-top: 27px;
			padding: 5px 20px;
			font-size: 10px;
		}

	}

		@media screen and (min-width:604px) {
		header h1 img {
			width: 20px;
			height: 23px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 17px;
			font-size: 15px;
		}

		nav ul {
			padding-right: 35px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 25px;
			padding-top: 0px;
			font-size: 10px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 15px;
			margin-top: 60px;
			margin-left: 337px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 319px;
			padding: 5px 20px;
			font-size: 8px;
		}


		.buttons #buttonright button {
			margin-left: 30px;
			margin-top: 27px;
			padding: 5px 20px;
			font-size: 8px;
		}

		section footer {

			margin-top: 115px;

		}

	}


		@media screen and (min-width:550px) {
		header h1 img {
			width: 15px;
			height: 15px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 22px;
			font-size: 12px;
			padding-left: 12px;
		}

		nav ul {
			padding-right: 62px;
			padding-left: 0px;
			margin-top: 20px;
		}

		nav li {
			margin-left: 25px;
			padding-top: 0px;
			font-size: 8px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 89px;
			position: absolute;
			padding-top: 124px;
		}

		section h1 {
			font-size: 15px;
			margin-top: 60px;
			margin-left: 273px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 271px;
			padding: 5px 20px;
			font-size: 8px;
		}


		.buttons #buttonright button {
			margin-left: 55px;
			margin-top: 27px;
			padding: 5px 20px;
			font-size: 8px;
		}

		section footer {

			margin-top: 115px;

		}

	}



		@media screen and (min-width:550px) {
		header h1 img {
			width: 15px;
			height: 15px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 22px;
			font-size: 12px;
			padding-left: 12px;
		}

		nav ul {
			padding-right: 62px;
			padding-left: 0px;
			margin-top: -15px;
		}

		nav li {
			margin-left: 25px;
			padding-top: 0px;
			font-size: 8px;
		}

		section input {
			width: 10%;
			height: 25px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 63px;
			position: absolute;
			padding-top: 100px;
		}

		section h1 {
			font-size: 15px;
			margin-top: 60px;
			margin-left: 245px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 245px;
			padding: 5px 20px;
			font-size: 8px;
		}


		.buttons #buttonright button {
			margin-left: 55px;
			margin-top: 27px;
			padding: 5px 20px;
			font-size: 8px;
		}

		section footer {

			margin-top: 115px;

		}

	}


		@media screen and (min-width:520px) {
		header h1 img {
			width: 15px;
			height: 15px;
			margin-left: -16px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 22px;
			font-size: 12px;
			padding-left: 12px;
		}

		nav ul {
			padding-right: 41px;
			padding-left: 0px;
			margin-top: -15px;
		}

		nav li {
			margin-left: 25px;
			padding-top: 0px;
			font-size: 8px;
		}

		section input {
			width: 10%;
			height: 25px;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 63px;
			position: absolute;
			padding-top: 72px;
		}

		section h1 {
			font-size: 12px;
			margin-top: 26px;
			margin-left: 245px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 245px;
			padding: 3px 15px;
			font-size: 8px;
		}


		.buttons #buttonright button {
			margin-left: 55px;
			margin-top: 27px;
			padding: 3px 15px;
			font-size: 8px;
		}

		section footer {

			margin-top: 115px;

		}

	}


		@media screen and (min-width:500px) {
		header h1 img {
			width: 10px;
			height: 10px;
			margin-left: -13px;
			margin-top: 3px;
		}

		header h1 {
			padding-top: 22px;
			font-size: 10px;
			padding-left: 0px;
		}

		nav ul {
			padding-right: 13px;
			padding-left: 0px;
			margin-top: 12px;
		}

		nav li {
			
			
			font-size: 8px;
		}

		section input {
			width: 10%;
			height: 25px;
			float: left;
			margin-left: 10px;
		}

		nav {
			float: none;
		}


		section img {
			width: 26%;
			height: auto;
			padding-left: 21px;
			position: absolute;
			padding-top: 72px;
		}

		section h1 {
			font-size: 12px;
			margin-top: 26px;
			margin-left: 177px;
		}

		.buttons #buttonleft button {
			margin-top: 27px;
			margin-left: 169cdpx;
			padding: 3px 15px;
			font-size: 8px;
		}


		.buttons #buttonright button {
			margin-left: 55px;
			margin-top: 27px;
			padding: 3px 15px;
			font-size: 8px;
		}

		section footer {

			margin-top: 115px;

		}

	}


















 
